.Logo {
  height: 55px;
  width: auto;
  position: fixed;
  top: 23px;
  left: 35px;
}

.Burger {
  position: fixed;
  top: 20px;
  right: 23px;
  width: 60px;
  height: 60px;
  z-index: 200;
  display: block;
  cursor: pointer;
}

.Lines {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.Line {
  width: 35px;
  height: 3px;
  display: block;
  background-color: #ffffff;
  margin: 7px auto;
  transition: all 0.3s ease-in-out;
}
