.Container {
  height: 100vh;
  background-image: url("../images/quote-bg.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.Container h3 {
  color: rgb(255, 255, 255);
  line-height: 1.2;
  font-size: 2.37rem;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: montserrat;
  text-align: left;
  width: 750px;
  margin-left: 13vw;
}

@media only screen and (max-width: 1000px) {
  .Container h3 {
    width: 90vw;
    margin: 0 5vw;
  }
}

@media only screen and (max-width: 500px) {
  .Container h3 {
    font-size: 1.728rem;
  }
}
