.Container {
  height: 100vh;
  background-image: url("../images/quote-bg.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.Container h3 {
  color: rgb(255, 255, 255);
  line-height: 1.2;
  font-size: 2.37rem;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: montserrat;
  text-align: left;
  width: 750px;
  margin-left: 13vw;
}

.Container a {
  padding: 15px 30px;
  margin-left: 13vw;
  box-sizing: border-box;
  min-width: 170px;
  height: 50px;
  font-size: 12px;
  line-height: 44px;
  letter-spacing: 1px;
  text-indent: 1px;
  color: #fff;
  font-weight: 400;
  background-color: #000000;
  border: solid #fff;
  border-width: 3px;
  border-radius: 0 0 0 0;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  user-select: none;
  outline: 0 !important;
}

.Container a:hover {
  background-color: #ffffff;
  border: solid #000000;
  color: #000000;
}

@media only screen and (max-width: 1000px) {
  .Container h3 {
    width: 90vw;
    margin: 0 5vw;
  }
  .Container a {
    margin: 30px 5vw;
  }
}

@media only screen and (max-width: 500px) {
  .Container h3 {
    font-size: 1.728rem;
  }
}
